/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/*Стрелочка в меню*/
@keyframes arrowMove {
  0% {
    inset-inline-start: 0;
  }
  25% {
    inset-inline-start: 2px;
  }
  50% {
    inset-inline-start: 4px;
  }
  75% {
    inset-inline-start: 2px;
  }
  100% {
    inset-inline-start: 0;
  }
}

/*Сердце возле кнопки*/

@keyframes core {
    
    0% { 
        fill: transparent;
    }

    100% { 
        fill: #FF0000;
    }

}

/*Вспышка звёзд сердца*/
@keyframes sparks {
    0% { 
        fill: transparent;
    }
    50% { 
        fill: #FF0000;
    }
    100%{
        fill: transparent;
    }
}

/*Заливка всего сердца*/
@keyframes main-body {
    0% { 
        fill: transparent;
        transform: scale(1.0);
    }
    50% { 
        fill: #FF0000;
        transform: scale(1.1);
    }
    100% {
        fill: #FF0000;
        transform: scale(1.0);
    }
}

/*Заливка контура сердца*/
@keyframes contur {
    0% { 
        fill: #000;
        transform: scale(1.0);
    }
    50% { 
        fill: #FF0000;
        transform: scale(1.1);
    }
    100% {
        fill: #FF0000;
        transform: scale(1.0);
    }
}

/*Подчёркивающая линия в меню*/
@keyframes draw-underline {

    0% { 
        transform: scaleX(0);
    }

    100% { 
        transform: scaleX(1);
    }
}

/*Заливка кнопки Like при hover*/

@keyframes buttonFill {
    0% { 
        transform: scaleX(0);
    }

    100% { 
        transform: scaleX(1);
    }
}