/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые 
классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы

✦ like-icon — для svg-иконки анимированного сердца (сделано)
✦ card__like-button — для кнопки Like рядом с иконкой

✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку

✦ button__text — для обозначения текстового элемента внутри кнопки

✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.container {
  min-width: 379px;
  max-width: 702px;
  margin: 0 auto;
}

.page {
  font-family: var(--MainFont, sans-serif);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--FontWeightNormal-wght, 400);
  background-color: var(--Themes-background, #fff);
  background-image: repeating-linear-gradient(
      90deg,
      var(--bg-line-color-start, #fff),
      var(--bg-line-color-start, #fff) var(--bg-line-size, 2px),
      var(--bg-line-color-end, transparent) var(--bg-line-size, 2px),
      var(--bg-line-color-end, transparent) calc(var(--bg-line-size, 2px) * 2)
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-line-color-start, #fff),
      var(--bg-line-color-start, #fff) var(--bg-line-size, 2px),
      var(--bg-line-color-end, transparent) var(--bg-line-size, 2px),
      var(--bg-line-color-end, transparent) calc(var(--bg-line-size, 2px) * 2)
    ),
    linear-gradient(
      180deg,
      var(--bg-cover-start, #e7e7e7) 0%,
      var(--bg-cover-end, #1a1a1a) 50%
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

/*START HEADER*/

.header {
  padding: 100px 0 98px;

  & .header__content {
    border: var(--border-size, 2px) solid currentColor;
    padding: 136px 0 25px;
    color: var(--Themes-mainColor, #000);
    background-color: var(--Themes-background, #fff);
  }

  & .header__title {
    padding-block-end: 20px;
    color: currentColor;
    font-family: var(--AccentFont, sans-serif);
    font-variation-settings: "wght" var(--FontWeightBold-wght, 700);
    font-size: clamp(3.0625rem, 1.9598rem + 4.8338vw, 4.0625rem);
    text-align: center;
    text-transform: uppercase;
  }

  & .header__subtitle {
    padding-block-end: 25px;
    color: currentColor;
    font-family: var(--AccentFont, sans-serif);
    font-weight: var(--FontWeightNormal, 400);
    font-size: clamp(0.875rem, 0.2547rem + 2.719vw, 1.4375rem);
    text-align: center;
    text-transform: uppercase;
  }
}

/*NAV START*/
.header__theme-menu {
  color: currentColor;
  font-family: var(--AccentFont, sans-serif);
  font-weight: var(--FontWeightNormal, 400);
  font-size: var(--fontSizeSmall, 14px);
  text-transform: uppercase;

  & .theme-menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 14px;
    max-width: 100px;
    margin: 0 auto;
  }

  & .theme-menu__button {
    color: currentColor;
    font-size: var(--fontSizeSmall, 14px);
    text-transform: uppercase;
    transition: opacity var(--transition-duration, 0.3s) ease;
    padding-left: 19px;

    &:hover {
      opacity: var(--opacity, 0.6);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      opacity: var(--opacity, 0.6);
    }

    &:focus-visible .theme-menu__text::after {
      animation: var(--transition-duration, 0.3s) draw-underline forwards;
      transform-origin: top left;
    }

    &:disabled {
      opacity: var(--opacity, 0.6);
      pointer-events: none;

      & .theme-menu__arrow {
        opacity: 1;
        animation-name: arrowMove;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 0.5s;
      }
    }

    & .theme-menu__arrow {
      position: absolute;
      left: 1px;
      opacity: 0;
      width: 13px;
      height: 13px;
    }

    & .theme-menu__text {
      position: relative;

      /*Подчёркивание*/
      &::after {
        content: "";
        position: absolute;
        border: 1px solid currentColor;
        inset-block-end: -2px;
        inset-inline-start: 0;
        width: 100%;
        transform: scaleX(0);
        animation: var(--transition-duration, 0.3s) draw-underline-back forwards;
        transform-origin: left top;
        background-color: #ff0000;
      }

      &:hover::after {
        animation: var(--transition-duration, 0.3s) draw-underline forwards;
        transform-origin: top left;
      }
    }
  }
}

/*END HEADER*/

/*START CARD*/
.card {
  color: var(--Themes-mainColor, #000);
  display: flex;
  flex-direction: column;
  gap: 47px;

  & .card__item {
    display: flex;
    flex-direction: column;
    background: var(--Themes-background, #fff);
    border: var(--border-size, 2px) solid currentColor;
  }

  & .card__title {
    padding: 4px 10px;
    color: currentColor;
    font-family: var(--MainFont, sans-serif);
    font-size: var(--fontSizeDefault, 18px);
    font-weight: var(--FontWeightBold, 700);
    border-block-end: var(--border-size, 2px) solid currentColor;
  }

  & .card__img-wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
  }

  & .card__img-lable {
    position: absolute;
    top: 23px;
    right: 11px;
    color: var(--Themes-mainColor, #000);
    font-family: var(--AccentFont, sans-serif);
    font-weight: var(--FontWeightNormal, 400);
    font-size: var(--fontSizeSmall, 14px);
    line-height: 1;
    text-transform: uppercase;
    opacity: 0.5;
    z-index: 2;
  }

  @supports (-webkit-text-stroke: 1px #fff) {
    .card__img-lable {
      -webkit-text-stroke: var(--text-stroke-width, 1px)
        var(--text-stroke-color, #fff);
      text-shadow: none;
    }
  }

  & .card__img-lable--smallletters {
    text-transform: lowercase;
  }

  & .card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  & .card__image--grayscale {
    filter: grayscale(1);
  }

  & .card__image--invert {
    filter: invert(1);
  }

  & .card__image--hueRotate {
    filter: hue-rotate(45deg);
  }

  & .card__image--sepia {
    filter: sepia(1);
  }

  & .card__image--multiple {
    filter: invert(1) blur(1px) hue-rotate(-43deg);
  }

  & .card__image--saturate {
    filter: saturate(9);
  }

  & .card__content {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    padding: 27px 21px 25px 25px;
    border-block-start: var(--border-size, 2px) solid currentColor;
  }

  & .card__text {
    color: currentColor;
    font-family: var(--MainFont, sans-serif);
    font-size: var(--fontSizeDefault, 18px);
    font-weight: var(--FontWeightNormal, 400);
    line-height: 116%;
  }
}

/*END CARD*/

/*START SECTION SAVE*/
.save {
  border: none;
  padding: 48px 32px 120px;
  color: var(--Themes-mainColor, #000);
  font-family: var(--AccentFont, sans-serif);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--FontWeightNormal, 400);
  line-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .save__button {
    padding: 15px 19px;
    border: 1px solid currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: box-shadow var(--transition-duration, 0.3s);

    &:focus-visible {
      box-shadow: 2px 2px 0px 0px var(--Themes-mainColor, #000);
    }
  }

  & .dialog {
    padding: 31px;
    min-width: 341px;
    min-height: 195px;
    max-width: 357px;
    max-height: 193px;
    border: 2px solid var(--Themes-mainColor, #000);
    background: var(--Themes-background, #fff);

    &::backdrop {
      opacity: 0.75;
      background: #000;
    }

    & .dialog__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      justify-content: center;
    }

    & .dialog__header {
      display: flex;
      gap: 20px;
      color: var(--Themes-mainColor, #000);

      & svg {
        align-self: center;
        flex-shrink: 0;
      }

      & .dialog__title {
        font-family: var(--AccentFont, sans-serif);
        font-size: var(--fontSizeSmall, 14px);
        font-weight: var(--FontWeightNormal, 400);
        line-height: 150%;
        text-transform: uppercase;
      }
    }

    & .dialog__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .dialog__button {
        padding: 9px 17px;
        border: 2px solid var(--Themes-mainColor, #000);
        background: var(--Themes-background, #fff);
        color: var(--Themes-mainColor, #000);
        font-family: var(--AccentFont, sans-serif);
        font-size: var(--fontSizeSmall, 14px);
        font-weight: var(--FontWeightNormal, 400);
        line-height: 90%;
        text-transform: uppercase;
        transition: box-shadow var(--transition-duration);

        &:focus-visible {
          box-shadow: 2px 2px 0px 0px var(--Themes-mainColor, #000);
        }
      }
    }
  }
}
/*END SECTION SAVE*/

/*START BUTTON*/

.button {
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  border: 2px solid var(--Themes-mainColor, #000);
  font-family: var(--AccentFont, sans-serif);
  font-weight: var(--FontWeightNormal, 400);
  color: var(--Themes-mainColor, #000);
  background: var(--Themes-background, #fff);
  cursor: pointer;
  border: 1px solid transparent;
}

.button--changeColor::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-changeColor, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  color: currentColor;
}

.button--changeColor:hover::before {
  transform: translateX(0);
}

.button__text {
  color: var(--Themes-mainColor, #000);
  font-family: var(--AccentFont, sans-serif);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--FontWeightNormal, 400);
  line-height: 90%;
  text-transform: math-auto;
}

.button__text,
.floppy {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--light-color, #fff);
}

.floppy--small {
  width: 29px;
  height: 28px;
}

.floppy--large {
  width: 40px;
  height: 40px;
}

.card__content-group {
  /*Группа для кнопок*/
  display: flex;
  justify-content: end;
  column-gap: 12px;
  align-items: center;
  background-color: transparent;
  padding: 0 25px 25px 25px;

  & .button:focus {
    outline: none;
  }

  & .button:focus-visible {
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }

  & .card__icon-button {
    /*Кнопка с иконкой*/
    font-size: 0;
    border: var(--border-size, 2px) solid transparent;

    & :focus {
      outline: none;
    }

    &:focus-visible {
      border: var(--border-size, 2px) solid var(--dark-color, #000);
      box-shadow: 2px 2px 0px 0px var(--Themes-mainColor, #000);
    }
    & .sparks {
      opacity: 0;
    }

    & .like-icon {
      width: 41px;
      height: 36px;

      /*Красим сердцевину*/
      & .core {
        fill: transparent;
        transition: fill;
        transition-duration: 0.3s;
        transition-delay: 0.03s;
        transition-timing-function: linear;
      }

      /*красим тело*/
      & .main-body {
        fill: transparent;
        transition: fill;
        transition-duration: 0.3s;
        transition-delay: 0.05s;
        transition-timing-function: linear;
      }

      &:hover .core {
        fill: var(--Themes-mainColor, #000);
      }

      &:hover .main-body {
        fill: var(--Themes-mainColor, #000);
      }

      &:active .core {
        fill: var(--active-heart-color, #ff0000);
      }

      &:active .main-body {
        fill: var(--active-heart-color, #ff0000);
      }

      &.is-liked .core {
        animation: 0.3s core forwards;
      }

      &.is-liked .main-body {
        animation: 0.3s main-body forwards;
        animation-delay: 0.3s;
      }

      &.is-liked .contur {
        animation: 0.3s contur forwards;
        animation-delay: 0.2s;
      }

      &.is-liked .sparks {
        animation: 0.3s sparks forwards;
        animation-delay: 0.5s;
      }
    }
  }

  & .card__like-button {
    /*Кнопка с текстом*/
    min-width: 134px;
    padding: 11px 17px;

    &:focus-visible {
      box-shadow: 2px 2px 0px 0px var(--Themes-mainColor, #000);
    }
  }
}

/*END BUTTON*/

@media (width <= 409px) {
  .header .header__content {
    padding: 120px 0 25px;
  }

  .card {
    gap: 46px;
  }

  .card .card__content {
    padding-right: 29px;
  }

  .save__button {
    flex-direction: column;
  }
}
