/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые 
классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы

✦ like-icon — для svg-иконки анимированного сердца (сделано)
✦ card__like-button — для кнопки Like рядом с иконкой

✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку

✦ button__text — для обозначения текстового элемента внутри кнопки

✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.


Напоминалка:
1. Допиши альтернативный шрифт
2. Не совсм понятно зачем нужно четыре переменных для шрифтов, когда можно обойтись двумя?

*/

.container {
  min-width: 379px;
  max-width: 696px;
  margin: 0 auto;
}

.page {
  font-family: var(--MainFont);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--FontWeightNormal);
  background-color: var(--Themes-background, #fff);
}

/*START HEADER*/

.header {
  padding: 102px 0;
  background-image: repeating-linear-gradient(
      90deg,
      var(--bg-line-color-start),
      var(--bg-line-color-start) var(--bg-line-size),
      var(--bg-line-color-end) var(--bg-line-size),
      var(--bg-line-color-end) calc(var(--bg-line-size) * 2)
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-line-color-start),
      var(--bg-line-color-start) var(--bg-line-size),
      var(--bg-line-color-end) var(--bg-line-size),
      var(--bg-line-color-end) calc(var(--bg-line-size) * 2)
    ),
    linear-gradient(180deg, var(--bg-cover-start) 0%, var(--bg-cover-end) 50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  & .header__content {
    border: var(--border-size) solid currentColor;
    padding: 120px 0 25px;
    color: var(--Themes-mainColor, #000);
    background-color: var(--Themes-background, #fff);
  }

  & .header__title {
    padding-block-end: 20px;
    color: currentColor;
    font-family: var(--AccentFont);
    font-variation-settings: "wght" var(--FontWeightBold);
    font-size: var(--fontSizeTitle);
    text-align: center;
    text-transform: uppercase;
  }

  & .header__subtitle {
    padding-block-end: 25px;
    color: currentColor;
    font-family: var(--AccentFont);
    font-variation-settings: "wght" var(--FontWeightNormal);
    font-size: var(--fontSizeSmall);
    text-align: center;
    text-transform: uppercase;
  }
}

/*NAV START*/
.header__theme-menu {
  color: currentColor;
  font-family: var(--AccentFont);
  font-variation-settings: "wght" var(--FontWeightNormal);
  font-size: var(--fontSizeSmall);
  text-transform: uppercase;

  & .theme-menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 14px;
    max-width: 100px;
    margin: 0 auto;
  }

  & .theme-menu__button {
    color: currentColor;
    font-size: var(--fontSizeSmall);
    text-transform: capitalize;
    text-transform: uppercase;
    transition: opacity var(--transition-duration) ease;
    padding-left: 19px;

    &:hover {
      opacity: var(--opacity);
    }

    &:disabled {
      opacity: var(--opacity);
      pointer-events: none;

      & .theme-menu__arrow {
        opacity: 1;
        animation-name: arrowMove;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 0.5s;
      }
    }

    &:focus {
      outline: none;
      opacity: var(--opacity);
    }

    & .theme-menu__arrow {
      position: absolute;
      left: 1px;
      opacity: 0;
    }

    & span {
      position: relative;

      /*Подчёркивание*/
      &::after {
        content: "";
        position: absolute;
        border: 2px solid currentColor;
        inset-block-end: -4px;
        inset-inline-start: 0;
        width: 100%;
        transform: scaleX(0);
      }

      &:hover::after {
        animation: var(--transition-duration) draw-underline forwards;
        transform-origin: top left;
      }
    }
  }
}

/*END HEADER*/

/*START CARD*/
.card {
  color: var(--Themes-mainColor, #000);
  background: var(--Themes-background, #fff);
  display: flex;
  flex-direction: column;
  gap: 50px;

  & .card__item {
    display: flex;
    flex-direction: column;
    border: var(--border-size) solid currentColor;
  }

  & .card__title {
    padding: 4px 10px;
    color: currentColor;
    font-family: var(--MainFont);
    font-size: var(--fontSizeDefault, 18px);
    font-variation-settings: "wght" var(--FontWeightBold);
    border-block-end: var(--border-size) solid currentColor;
  }

  & .card__img-wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
  }

  & .card__img-lable {
    position: absolute;
    top: 23px;
    right: 11px;
    color: var(--Themes-mainColor, #000);
    font-family: var(--AccentFont);
    font-variation-settings: "wght" var(--FontWeightNormal);
    font-size: var(--fontSizeSmall);
    line-height: 1;
    text-transform: uppercase;
    opacity: 0.5;
    z-index: 2;
  }

  @supports (-webkit-text-stroke: 1px #fff) {
    .card__img-lable {
      -webkit-text-stroke: var(--text-stroke-width) var(--text-stroke-color);
      text-shadow: none;
    }
  }

  & .card__img-lable--smallletters {
    text-transform: lowercase;
  }

  & .card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  & .card__image--grayscale {
    filter: grayscale(1);
  }

  & .card__image--invert {
    filter: invert(1);
  }

  & .card__content {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 25px;
    border-block-start: var(--border-size) solid currentColor;
  }

  & .card__text {
    color: currentColor;
    font-family: var(--MainFont);
    font-size: var(--fontSizeDefault, 18px);
    font-variation-settings: "wght" var(--FontWeightNormal);
  }
}

/*END CARD*/

/*START SECTION SAVE*/
.save {
  border: none;
  padding: 54px 32px 120px;
  color: var(--Themes-mainColor, #000);
  font-family: var(--AccentFont);
  font-size: var(--fontSizeSmall);
  font-weight: var(--FontWeightNormal);
  line-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .save__button {
    padding: 15px 19px;
    border: 1px solid currentColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  & .dialog {
    padding: 31px;
    min-width: 341px;
    min-height: 195px;
    max-width: 357px;
    max-height: 193px;
    border: 2px solid var(--Themes-mainColor, #000);
    background: var(--Themes-background, #fff);

    &::backdrop {
      opacity: 0.75;
      background: var(--Themes-mainColor, #000);
    }

    & .dialog__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      justify-content: center;
    }

    & .dialog__header {
      display: flex;
      gap: 20px;
      color: var(--Themes-mainColor, #000);

      & svg {
        align-self: center;
        flex-shrink: 0;
      }

      & .dialog__title {
        font-family: var(--AccentFont);
        font-size: var(--fontSizeSmall);
        font-weight: var(--FontWeightNormal);
        line-height: 150%;
        text-transform: uppercase;
      }
    }

    & .dialog__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .dialog__button {
        padding: 9px 17px;
        border: 2px solid var(--Themes-mainColor, #000);
        background: var(--Themes-background, #fff);
        color: var(--Themes-mainColor, #000);
        font-family: var(--AccentFont);
        font-size: var(--fontSizeSmall);
        font-weight: var(--FontWeightNormal);
        line-height: 90%;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
/*END SECTION SAVE*/

/*START BUTTON*/

.button {
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  border: 2px solid var(--Themes-mainColor, #000);
  font-family: var(--AccentFont);
  font-variation-settings: "wght" var(--FontWeightNormal);
  line-height: 90%;
  color: var(--Themes-mainColor, #000);
}

.button--changeColor::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  color: currentColor;
}

.button--changeColor:hover::before {
  transform: translateX(0);
}

.button__text,
.floppy {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--light-color);
}

.card__content-group {
  /*Группа для кнопок*/
  display: flex;
  justify-content: end;
  gap: 12px;
  align-items: center;
  background-color: transparent;

  & .button:focus {
    outline: none;
  }

  & .button:focus-visible {
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }

  & .card__icon-button {
    /*Кнопка с иконкой*/
    font-size: 0;
    border: 2px solid transparent;

    & :focus {
      outline: none;
    }

    &:focus-visible {
      border: 2px solid black;
    }
    & .sparks {
      opacity: 0;
    }

    /*Красим сердцевину*/
    & .like-icon .core {
      fill: transparent;
      transition: fill;
      transition-duration: 0.3s;
      transition-delay: 0.03s;
      transition-timing-function: linear;
    }

    /*красим тело*/
    & .like-icon .main-body {
      fill: transparent;
      transition: all;
      transition-duration: 0.3s;
      transition-delay: 0.05s;
      transition-timing-function: linear;
    }

    & .like-icon:hover .core {
      fill: var(--dark-color);
    }

    & .like-icon:hover .main-body {
      fill: var(--dark-color);
    }

    & .like-icon:active .core {
      fill: var(--active-heart-color);
    }

    & .like-icon:active .main-body {
      fill: var(--active-heart-color);
    }

    & .like-icon.is-liked .core {
      animation: 0.3s core forwards;
    }

    & .like-icon.is-liked .main-body {
      animation: 0.3s main-body forwards;
      animation-delay: 0.3s;
    }

    & .like-icon.is-liked .contur {
      animation: 0.3s contur forwards;
      animation-delay: 0.2s;
    }

    & .like-icon.is-liked .sparks {
      animation: 0.3s sparks forwards;
      animation-delay: 0.5s;
    }
  }

  & .card__like-button {
    /*Кнопка с текстом*/
    min-width: 134px;
    padding: 11px 17px;

    &:focus-visible {
      box-shadow: 2px 2px 0px 0px var(--Themes-mainColor);
    }
  }
}

/*END BUTTON*/
