/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
html.theme-light {
  --light-color: #fff;
  --dark-color: #000;
  
  --themes-background: var(--light-color);
  --themes-mainColor: var(--dark-color);

  --bg-light-color: #E7E7E7;
  --bg-midle-color: #d3d3d3;
  --bg-dark-color: #1A1A1A;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --button-changeColor: var(--dark-color);

  --text-stroke-color: var(--light-color);
}

html.theme-dark {
  --light-color: #00cc14;
  --dark-color: #000;

  --themes-background: var(--dark-color);
  --themes-mainColor: var(--light-color);

  --bg-light-color: #007f0c;
  --bg-midle-color: #000;
  --bg-dark-color:  #004306;

  --font-weight-normal: 465;
  --font-weight-bold: 785;

  --button-changeColor: var(--light-color);

  --text-stroke-color: var(--dark-color);
}

@media (prefers-color-scheme: dark) {

  :root {
    --light-color: #00cc14;
    --dark-color: #000;
  
    --themes-background: var(--dark-color);
    --themes-mainColor: var(--light-color);
  
    --bg-light-color: #007f0c;
    --bg-midle-color: #000;
    --bg-dark-color:  #004306;
  
    --font-weight-normal: 465;
    --font-weight-bold: 785;

    --button-changeColor: var(--light-color);
    
    --text-stroke-color: var(--dark-color);
  }

}
