/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
html.theme-light {
  --light-color: #fff;
  --dark-color: #000;
  
  --Themes-background: var(--light-color);
  --Themes-mainColor: var(--dark-color);

  --bg-line-color-start: var(--light-color);
  --bg-line-color-end: transparent;

  --bg-cover-start: #E7E7E7;
  --bg-cover-end: #1A1A1A;

  --button-changeColor: var(--dark-color);

  --text-stroke-color: var(--light-color);
}

html.theme-dark {
  --light-color: #00cc14;
  --dark-color: #000;

  --Themes-background: var(--dark-color);
  --Themes-mainColor: var(--light-color);

  --bg-line-color-start: var(--dark-color);
  --bg-line-color-end: transparent;

  --bg-cover-start: #007F0C;
  --bg-cover-end: #004306;

  --button-changeColor: var(--light-color);

  --text-stroke-color: var(--dark-color);
}

@media (prefers-color-scheme: dark) {

  :root {
    --light-color: #00cc14;
    --dark-color: #000;
  
    --Themes-background: var(--dark-color);
    --Themes-mainColor: var(--light-color);
  
    --bg-line-color-start: var(--dark-color);
    --bg-line-color-end: transparent;
  
    --bg-cover-start: #007F0C;
    --bg-cover-end: #004306;
  
    --button-changeColor: var(--light-color);
    
    --text-stroke-color: var(--dark-color);
  }

}