/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --active-heart-color: #FF0000;

  --themes-background: #fff;
  --themes-mainColor: #000;

  --bg-light-color: #E7E7E7;
  --bg-midle-color: #d3d3d3;
  --bg-dark-color: #1A1A1A;

  --button-mix-blend: #fff;

  --mainFont: Inter;
  --accentFont: PressStart2P;

  --font-weight-normal-wght: 400;
  --font-weight-bold-wght: 700;

  --border-size: 2px;

  --fontSizeSmall: 14px;
  --fontSizeDefault: 18px;
  
  --bg-line-size: 2px; /*Ширина полоски для декорирования фона*/
  --transition-times: 2s;

  --text-stroke-color: #fff;
  --text-stroke-width: 1px;

  --opacity: 0.6;
  --transition-duration: 0.3s;
}