/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --light-color: #fff;
  --dark-color: #000;
  --active-heart-color: #FF0000;

  --Themes-background: var(--light-color);
  --Themes-mainColor: var(--dark-color);

  --bg-line-color-start: var(--light-color:);
  --bg-line-color-end: transparent;

  --bg-cover-start: #E7E7E7;
  --bg-cover-end: #1A1A1A;
  --MainFont: Inter;
  --AccentFont: PressStart2P;
  --FontWeightNormal: 400;
  --FontWeightBold: 700;
  --border-size: 2px;

  --fontSizeTitle: 49px;
  --fontSizeSmall: 14px;
  --fontSizeDefault: 18px;
  
  --main-bg: url("../images/main-bg.jpg");
  --bg-line-size: 4px; /*Ширина полоски для декорирования фона*/
  --transition-times: 2s;

  --text-stroke-color: var(--light-color:);
  --text-stroke-width: 1px;

  --opacity: 0.6;
  --transition-duration: 0.3s;
}